 @tailwind base;
 @tailwind components;
 @tailwind utilities;

 body {
    font-size: 14px;
 }


 ::-webkit-scrollbar {
   width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
   background-color: #36393E;
   opacity: 0.01;
}

/* Handle */
::-webkit-scrollbar-thumb {
   background: #424549;
   border-radius: 3px;
}

::-webkit-scrollbar-thumb:window-inactive {
   background: #979797;
}

/* div {
   border: solid 1px #fff;
} */